@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">No tienes Acceso a esta Interfaz</h2>


<h3>Error</h3>

<p>
    <strong>Si Crees que esto es un error comunicate con NotBugs</strong>
    
</p>