
@using Microsoft.AspNetCore.Mvc;


<link rel="stylesheet" href="~/css/styleFormRequerimientos.css">

<footer class="text-body-secondary py-2 bg-light border-top bg-body-tertiary">
    <div class="container text-center">
        <p class="mb-1">&copy; SportSync</p>
        <p class=""> <a href="#" style="color:rgb(150, 0, 0)" class=" text-decoration-none">Volver arriba</a></p>
    </div>
</footer>
